@page
@model Inlamning1ASP.Pages.MyEventModel

<h1 class=" float-left">My Events</h1>
<h1 class="float-right mr-4">@Model.JoinEvent[1].Attendee.Name</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JoinEvent[0].Event.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinEvent[0].Event.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinEvent[0].Event.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.JoinEvent)
    {
        <tr>
            <td>
                <a>@Html.DisplayFor(modelItem => item.Event.Title)</a>
            </td>
            <td>
                <a>@Html.DisplayFor(modelItem => item.Event.Place)</a>
            </td>
            <td>
                @item.Event.Date.ToLongDateString()
            </td>
            <td>
                <a asp-page="/Details" class="bg-dark text-light rounded shadow p-2 text-decoration-none" asp-route-id="@item.EventId">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
